@font-face {
  font-family: 'Roboto';
  src: url("fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto-rebet';
  src: url("fonts/Roboto-Bold.ttf");
}

.navigation-background {
  width: 1920px;
  background-color: #EFEFEF;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items:center;
  height: 60px;
}

.header-main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.block-1110px{
  width: 1110px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.block-1110px-section-img{
 width: 100%;
 height: 604px;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: space-evenly;
}

.header-nav-box-for-text{
  display: flex;
  justify-content: space-between;
  align-items:center;
  width:448px;
}

.logo{
  display: flex;
  align-items: center;
  width: 258px;
  justify-content: space-between;
}

.header-nav-item {
  text-decoration: none;
  color: rgb(39, 11, 11);
  font-weight: bold;
  font-size: 20px;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
}

.header-logo-search-phone{
  background-color:white;
  height: 120px;
  width: 100%;
  display: flex;
  align-items:center;
  flex-direction: r;
  justify-content: space-between;
}

.header-logo-search-phone-box{
  display: flex;
  width:1110px;
  align-items:center;
}

.text-beaty{
  font-family: Roboto;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #F13C6E;
  margin-left:20px;
}

.search{
  border-radius: 20px 20px 20px 20px;
  border:none;
  align-items:center;
  background-image: url(icon/search-icon.png);
  background-repeat: no-repeat;
  background-position: left 10px center;
  background-color: transparent;
  width: 250px;
  height:40px;
  background-color: #EFEFEF;
  padding-left: 20px;
  outline: none;
}

.search:focus{
  background-image: none;
}

.phone{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.feedback{
  height: 40px;
  width: 170px;
  border: 3px solid;
  border-color:#F13C6E;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  outline: none;
}

.text-phone{
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
}

.line{
  width: 1920px;
  border: 0.5px solid #EFEFEF;
}

.line2{
  width: 1920px;
  border: 0.5px solid #EFEFEF;
}

.header-nav-text-two{
  height:79px;
  width: 750px;
  align-items:center;
  display: flex;
  justify-content: space-evenly;
}

.header-nav-two{
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.header-nav-two-item{
  text-decoration: none;
  color: rgb(39, 11, 11);
}

.header-nav-two-item{
  text-decoration: none;
  color: rgb(39, 11, 11);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.header-text-two-box{
  width: 675px;
}

.main-section{
  display: flex;
  justify-content: center;
}

.main-block-section{
  display: flex;
  justify-content: center;
}

.block-for-background{
  width: 1920px;
  height:1870px;
  background-color: #EFEFEF; 
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
}

.block-section{
  width: 1110px;
  height:1870px;
  align-items:center;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.main-section-box{
  width:1920px;
  height: 604px;
  background-color: #F13C6E;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.block-text-section{
  width:600px;
  height:219px;
  margin-left:20%;
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}

.section-main-image{
  height:604px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}

.section-main-first-text{
  font-family: Roboto;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: left;
  color: #EFEFEF;
}

.section-main-two-text{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #EFEFEF;
}

.section-main-three-text-link{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  line-height: 16px;
  text-align: center;
  color: #EFEFEF; 
  height: 40px;
  width: 170px;
  border-radius: 50px 50px 50px 50px;
  border: 1px solid #EFEFEF;
  width: 170px;
  padding-top:10px;
  text-decoration: none;
}

.more-detailed:hover{
  border-color:grey;
}

.more-detailed:active{
  border-color:black;
}



.circle1 {
  position:absolute;
  width: 900px; 
  height: 900px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 100%;
}

.circle2 {
  position:absolute;
  width: 700px; 
  height: 700px;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 100%;
}

.img-z-index{
  z-index: 3;
}

.two-cektion{
  display:flex;
  justify-content:center;
}

.box-two-cektion{
  width:1920px ;
  background-color:#EFEFEF;;
  height: 575px;
}

.box-three-cektion{
  width:1920px ;
  background-color:#EFEFEF;;
  height: 680px;
}
.first-text-section{
  font-family: Roboto;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0em;
  }

.first-text-section-box{
  display:flex;
  justify-content: left;
  width: 100%;
  height: 29px;
  }

.box-products{
  width:1110px;
  height: 363px;
  display:flex;
  justify-content: space-between;
  }

.box-product{
  height: 363px;
  width: 255px;
  background-color: white;
  display:flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  }

.product-item-img{
  width: 125px;
  height: 166px;
  }

.product-description-text{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  }

.product-price{
  font-family: Roboto;
  font-size: 21px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-align: center;
  }

.buy{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-align: center;
  color:white;
 }

.buy-item{
  height: 40px;
  width: 170px;
  border: 3px solid;
  border-color:#F13C6E;
  border-radius: 25px 25px 25px 25px;
  background-color: #F13C6E;
}

.box-section-two-block{
  height:212px;
  width: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

.box-left{
  width:540px;
  background-color: #F13C6E;
  display: flex;
  align-items: center;
justify-content:space-evenly;
}

.text-box-left{
  height:100%;
  width:210px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.text-box-right{
  height:100%;
  width:210px;
  display:flex;
  align-items: left;
  justify-content: space-evenly;
  flex-direction: column;
}

.text-box-bonuses-list{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.first-text-two-block{
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
}

.two-text-two-block{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color:white;
}

.input-email{
  height: 35px;
  width: 225px;
  border-color:#F13C6E;
  border-radius: 25px 25px 25px 25px;
  background-color: white;
  outline: none;
}

.section-map{
  background-color: #F13C6E;
  width:540px;
  display: flex;
  align-items: center;
  flex-direction: center;
  justify-content: space-evenly;
  
}

.button-map{
  height: 40px;
  width: 200px;
  border: 3px solid;
  border-color:white;
  border-radius: 25px 25px 25px 25px;
  background-color: #F13C6E;
}

.text-map{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  color:white;
}

.box-impuls{
  height: 357px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.box-impuls-small{
  width:277px;
  height:119px;
  background-color: white;
  border: 0.5px solid;
  border-color:#EFEFEF;
}

.item-impuls{
  margin-top:35px;
  margin-left:60px;
}

.generally-box-footer{
  height:556px;
  width: 100%;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
} 

.footer-1110px{
  width: 1110px;
  } 

.main-box-footer{
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 373px;
}

.column-footer{
  width: 255px;
  height: 250px;
  display:flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.footer-text-comany{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}

.line-column{
  margin-top:1;
  width: 255px;
  border: 0.5px solid #EFEFEF;
}

.list-column-footer{
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color:#828282;
}

.footer-contack-main{
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 120px;
  align-items: center;
}

.icon-box{
  width: 240px;
  height: 100%;
  align-items:center;
  display:flex;
  justify-content: space-between;
}

.circle-for-icon{
  width: 45px; 
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #F13C6E;
}

.address{
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

.box-phone{
  width: 350px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.phone-two
{
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

.box-footer-icon-adress-phone{
  height: 120px; 
  display: flex;
  justify-content: center;
}

.box-politic{
  height: 64px; 
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.footer-background-box-politic{
  height: 50px;
  width: 1920px;
  background-color:#EFEFEF;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer-politic-1100px{
  width: 1100px;
  display:flex;
  justify-content: space-between;

}
.footer-text-info{
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
}

.footer-text-politic{
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: right;
}

.box-circle-chair{
  display:flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}